.BoxContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.vid video {
  width: 100%;
  height: 100%;
}